
-r ../requirements.txt

virtualenv      == 20.17.1
packaging       == 21.3
tox             == 3.28.0
pytest          == 7.0.1
pytest-cov      == 4.0.0
pytest-twisted  == 1.14
pylint          == 2.13.9
mock            == 5.0.1
coverage        == 6.2
twine           == 3.8.0
bandit          == 1.7.2

colorama   == 0.4.5
#flake8==5.0.4
#pyflakes==2.5.0
