# txrestserver github action support

name: CI

# Run on push and pull requests for master only at thit time
on:
  push:
    branches: [ master ]

  pull_request:
    branches: [ master ]

# Job definitions
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.6]   # TODO: Add more versions -> [3.6, 3.7, 3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install install -r test/requirements.txt

      - name: Run tox
        run: tox -e py
        
      # - run: pipenv run isort --recursive --diff
      # - run: pipenv run black --check .
      # - run: pipenv run flake8
      # - run: pipenv run mypy
      # - run: pipenv run pylint --rcfile=.pylintrc
      # - run: pipenv run pytest --cov    # --cov-fail-under=50
